#gems {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}

#gems li {
    list-style: none;
    position: relative;
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    width: 150px;
    height: 170px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    box-shadow: 1px 1px 2px #ccc;
    transition: transform 200ms ease-in-out;
    
}

#gems li:hover {
    box-shadow: 2px 2px 3px #bbb;
    transform: translate3d(-1px, -1px, 0);
}

#gems li h3 {
    font-size: 1.1rem;
    margin: 5px;
    font-family: 'Sora', sans-serif;
}

#gems li img {
    width: 50%;
    margin-top: 10px;
}

.price {
    font-size: 0.9rem;
    position: absolute;
    bottom: 0;
    left: 0; 
    right: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Sora', sans-serif;
}

.price button {
    transition: color 200ms ease-in-out;
    margin: 4px;
    font-family: 'Sora', sans-serif;
}
.price button:hover {
    background: #aaa;
    color: white;
}

h1 {
    font-size: 1.5em;
    font-style: bold;
    font-family: 'Sora', sans-serif;
    padding: 15px;
}